/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/modules.xml
/.idea/SecondPracticalTask.iml
/.idea/vcs.xml
/.idea/misc.xml
/draft/client_server/client.py
/draft/client_server/server.py
/v2/de421.bsp
