/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/modules.xml
/.idea/SecondPracticalTask.iml
/.idea/vcs.xml
/.idea/misc.xml
/v1/client_server/client.py
/v1/client_server/server.py
